.accordion-item{
    padding: 0 0;
    .name-line {
        font-size: .4rem;
        background-color: initial;
        border-bottom: #bfbfbf .01rem solid;
        padding-bottom: .15rem;
        margin-bottom: .4rem;
        position: relative;
        .name {
            padding-left: .2rem;
            display: inline-block;
            width: 5.6rem;
            color: #000;
            font-weight: 500;
        }
        .state-img{
            width: .45rem;
            vertical-align: middle;
        }
        .icon{
            color: #8f8f8f;
            vertical-align: middle;
            position: absolute;
            right: 0;
        }
    }
}