
.Index-TabBar-1 {
    width: .44rem;
    height: .44rem;
    background:  url(../img/frist_page_grey.png) center center no-repeat;
    background-size: 100% 100%;
    &.Index-TabBar-active {
        background:  url(../img/frist_page.png) center center no-repeat;
        background-size: 100% 100%;
    }
}

.Index-TabBar-2 {
    width: .44rem;
    height: .44rem;
    background: url(../img/gaojing_grey.png) center center no-repeat;
    background-size: 100% 100%;
    &.Index-TabBar-active {
        background:  url(../img/gaojing.png) center center no-repeat;
        background-size: 100% 100%;
    }
} 

.Index-TabBar-3 {
    width: .44rem;
    height: .44rem;
    background:  url(../img/mine_grey.png) center center no-repeat;
    background-size: 100% 100%;
    &.Index-TabBar-active {
        background:  url(../img/mine.png) center center no-repeat;
        background-size: 100% 100%;
    }
} 