.oxygen-set-bg{
    // margin-top: 1rem;
    padding-top: 1rem;
    box-sizing:border-box;
    .os-list {
        margin-top: .4rem;
        &.am-list{
            .am-list-body  {
                border-top: none;
                .am-list-item.am-input-item {
                    height: 1.14rem;
                }
                .os-input {
                    &.am-list-item .am-input-control input {
                        text-align: right;
                    }
                    &.am-list-item .am-input-extra span {
                        color: #000;
                        font-size: .4rem;
                    }
                }
                .am-list-item.am-input-item:after {
                    left:0;
                }
                .am-list-item .am-input-label {
                    font-size: .4rem;
                }
                .am-list-item .am-input-control input {
                    font-size: .4rem;
                }
                div:not(:last-child) .am-list-line:after{
                    border-bottom: none;
                }
                .am-list-item {
                    height: 1.14rem;
                    font-size: .4rem;
                    &.am-list-item-middle:after {
                        display: block;
                        position: absolute;
                        content: '';
                        left: 0rem;
                        bottom: 0;
                        right: auto;
                        top: auto;
                        width: 100%;
                        border-bottom: 1PX solid #ddd;
                    }
                    .am-list-line .am-list-content {
                        font-size: .4rem;
                    }
                    .am-list-line .am-list-extra {
                        font-size: .4rem;
                        flex: 1;
                        .time{
                            font-size: .36rem
                        }
                        .time div{
                            display: inline-block;
                        }
                    }
                    
                }
            }
        }
    }
}


.buttons{
    width: 100%;
    height: 0.8rem;
    text-align: center;
    color: #fff;
    line-height: 0.8rem;
    background: #35b4e8;
    
    margin-top: 1.28rem;
    font-size: .34rem;
    .left-button{
        color: #fff;
        background: #35b4e8;
        border: 0;
        width: 50%;
        display: inline-block;
    }
    .right-button{
        width: 49%;
        border-left: #fff .01rem solid;
        display: inline-block;
    }
}

.add-block{
    font-size: .4rem;
    height: .7rem;
    line-height: .6rem;
    position: absolute;
    color: #35b4e8;
    right: .4rem;
    .add-span{
        vertical-align:  middle;
    }
    .add-img{
        height: .4rem;
        vertical-align:  middle;
        margin-left: .1rem;
    }
}
