.main-bg{
    padding-top: .2rem;
    // height: 100%;
    background:-webkit-linear-gradient(0,#6fa496,#39b3e2);
    background:linear-gradient(0,#6fa496,#39b3e2);
    padding-bottom: 1.4rem;
    box-sizing:border-box;
    .weather-div{
        height: 1rem;
        width: 50%;
        padding-left: .5rem;
        padding-top: .3rem;
        color: #fff;
        font-size: .4rem; 
        .weather-icon{
            font-size: .5rem;
        }
    }
    .fishpond-item{
        padding: 0 .3rem;
        .equipment{
            // height: 8.6rem;
            width: 100%;
            border-radius: .1rem;
            background-color: #eef7f9;
            margin-bottom: .3rem;
            .line{
                height: 1.4rem;
                line-height: 1.4rem;
                position: relative;
                padding: 0 .35rem;
                .name{
                    display: inline-block;
                    margin-left: .1rem;
                    font-size: .4rem;
                }
                .right-text{
                    right: .35rem;
                    display: inline-block;
                    position: absolute;
                    font-size: .5rem;
                }
                .normal-state{
                    color: #35b4e8;
                }
                .unnormal-state{
                    color: red;
                }
                .auto-button{
                    display: inline-block;
                    position: absolute;
                    width: 1.3rem;
                    right: 2rem;
                    height: .6rem;
                    border-radius: .4rem;
                    margin-top: .4rem;
                    padding: auto;
                    border: 0px;
                    vertical-align: middle;
                    font-size: .35rem;
                }
                .do-auto {
                    background-color: #92d5ef;
                    color: #3db6e8;
                }
                .no-auto {
                    background-color: #bfc2c2;
                    color: #fff;
                }
                .state-switch {
                    margin-top: .4rem;
                    right: .85rem;
                    position: absolute;
                    width: .5rem;
                }
            }
            .border-line{
                border-bottom: #a0a0a0 .01rem solid;
            }
        }
    }
}


