.mypond-bac {
    width: 100%;
    height: 3.22rem;
    background: url(../../../img/fish_bac.jpg) no-repeat ;
    background-size: 100% 100%;
}

.mypond-content {
    display: flex;
    margin-top: .2rem;
    padding: .3rem;
    border-bottom: 1px solid #dad9d9;
    justify-content:space-between;
    background: #fff;
    .content-title {
        font-size: .4rem;
        color: #1e1e1e;
    }
    .mypond-delete {
        align-self: center;
        justify-self: right;
        width: .48rem;
        height: .48rem;
        img {
            width: 100%;
            height: 100%;
        }
    }
    .content-info {
        display: inline-block;
        margin-top: .12rem;
        margin-right: .12rem;
        color: #707070;
        font-size: .28rem;
        padding: .08rem;
        border: 1px solid #9ad9f3;
        border-radius: .05rem;
        .content-info-img {
            // float: left;
            display: inline-block;
            width: .38rem;
            height: .4rem;
            vertical-align: middle;
            &.area-img {
                background: url(../../../img/poo_size.png) no-repeat  left;
                background-size: .37rem .37rem;
            }
            &.address-img {
                background: url(../../../img/pool_location.png) no-repeat  left;
                background-size: .32rem .37rem;                
            }
            &.waterDepth-img {
                background: url(../../../img/pool_deep.png) no-repeat  left;
                background-size: .29rem .3rem;               
            }
            &.poolFish-img {
                background: url(../../../img/pool_fish.png) no-repeat  left;
                background-size: .33rem .33rem;               
            }
            &.poolWater-img {
                background: url(../../../img/pool_water.png) no-repeat  left;
                background-size: .32rem .19rem;   
            }
            &.poolThickness-img {
                background: url(../../../img/pool_thickness.png) no-repeat  left;
                background-size: .36rem .36rem;  
            }
            &.density-img {
                background: url(../../../img/midu.png) no-repeat  left;
                background-size: .27rem .3rem;  
            }
        }
        .content-info-value {
            vertical-align: middle;
        }
    }
}
.btn_add {
    position: fixed;
    bottom: .3rem;
    right: .3rem;
    width: .96rem;
    height: .96rem;
    background: url(../../../img/btn_add.png) no-repeat center;
    background-size: 100% 100%;
}

.none-list {
    margin-top: 3rem;
    text-align: center;
    font-size: .4rem;
    line-height: .6rem;
    color: #707070;
    img {
        width: .93rem;
        height: .8rem;
    }
    .btn_add1 {
        display: inline-block;
        margin-top: .4rem;
        width: .96rem;
        height: .96rem;
        background: url(../../../img/btn_add.png) no-repeat center;
        background-size: 100% 100%;
    }
}