.fish-selected {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  .44rem .3rem;
    margin: .15rem 0;
    font-size: .36rem;
    color: #1e1e1e;
    background: #fff;
    .fish-title {
        width: 2.7rem;
    }
    .fish-name{
        width: 4.2rem;
    }
}
.fish-type {
    padding: 0 .3rem;
    color: #1e1e1e;
    transition: background 1s;
    -moz-transition: background 1s;	/* Firefox 4 */
    -webkit-transition: background 1s;	/* Safari 和 Chrome */
    -o-transition: background 1s;	/* Opera */
    background: #fff;
    .fish-name {
        padding: .36rem 0;
        font-size: .36rem;
        border-bottom: 1px solid #a0a0a0;
        .fish-name-selected {
            float: right;
            font-size: .5rem;
            color: #35b4e8;
            display: none;
            &.active {
                display: inline-block;
            }
        }
    }
    &.active {
        background: #eee;
    }
}
.addFish-btn {
    // margin-top: .78rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: .27rem 0;
    text-align: center;
    color: #fff;
    font-size: .36rem;
    background: #35b4e8;
}
.fish-white {
    height: 1rem;
    background: #fff;
}