.alarm-box {
    padding-top: .2rem;
    min-height: 100%;
    padding-bottom: 1rem;
    background:-webkit-linear-gradient(180deg,#39b3e2,#6fa496);
    background:linear-gradient(180deg,#39b3e2,#6fa496);
    .alarm-list {
        padding: .2rem .28rem;
        .list-title {
            color: #fff;
            line-height: .8rem;
            font-size: .4rem;
            border-bottom: 1px solid #fff;
        }
        .list-info {
            margin-top: .24rem;
            padding: .5rem .22rem;
            background:#fff;
            border-radius: .1rem;
            .info-state{
                color:#35b4e8;
                font-size: .4rem;
            }
            .info-span{
                margin-top: .5rem;
                color: #8f8f8f;
                font-size: .36rem;
            }
        }
    }
}