.addEqu_bg {
    height: 100%;
    
    .add-line {
        padding: .2rem .3rem;
        margin: .2rem .3rem;
        background-color: #fff;
        border-radius: .5rem;
        overflow: hidden;
        height: .4rem;
        margin-top: 1rem;
        font-size: .35rem;
        input {
            width: 5.35rem;
            border: 0;
        }
        div {
            text-align: center;
            color: #35b4e8;
            width: .9rem;
            display: inline-block;
        }
    }

    .scan-block {
        text-align: center;
        margin-top: 3rem;
        margin: 3rem 2rem 0 2rem;
        img {
            height: 1.73rem;
            margin-bottom: .8rem;
        }
        p {
            color: #35b4e8;
            font-size: .4rem;
        }
    }
}