.addEqu_bg {
    height: 100%;
    
    .add-line {
        padding: .2rem .3rem;
        margin: .2rem .3rem;
        background-color: #fff;
        border-radius: .5rem;
        overflow: hidden;
        height: .4rem;
        margin-top: 1rem;
        font-size: .35rem;
        input {
            width: 5.35rem;
            border: 0;
        }
        div {
            text-align: center;
            color: #35b4e8;
            width: .9rem;
            display: inline-block;
        }
    }
}