.my-equipment-bg{
    padding-top: .2rem;
    height: 100%;
    background:-webkit-linear-gradient(0,#6fa496,#39b3e2);
    background:linear-gradient(0,#6fa496,#39b3e2);
    box-sizing:border-box;
    .equipment-type{
        padding: 0 .3rem;
        margin-top: 1rem;
        .equipment{
            // width: 100%;
            border-radius: .1rem;
            background-color: #eef7f9;
            margin-bottom: .3rem;
            padding: .3rem .3rem .6rem .3rem;
            .line{
                height: .6rem;
                position: relative;

                padding-top: .4rem;
                border-bottom: #b9b8b8 .01rem solid;
                .delete-button {
                    display: inline-block;
                    width: .5rem;
                    height: .5rem;
                    margin-right: .1rem;
                    background: url(../../img/btn_remove.png);
                    background-size: 100% 100%;
                    vertical-align: middle;
                    margin-top: -.15rem;
                }
                .name{
                    display: inline-block;
                    margin-left: .1rem;
                    // vertical-align: middle;
                    font-size: .4rem;
                }
                .right-imgs{
                    right: 0rem;
                    display: inline-block;
                    position: absolute;
                    border-spacing: .2rem 0;
                    div {
                        height: .4rem;
                        width: .4rem;
                        background-size: 100% 100%;
                        margin-left: .25rem;
                        font-size: .2rem;
                        text-align: right;
                        display:table-cell;
                        vertical-align:bottom;
                        line-height: .1rem;
                    }
                    .online{
                        background-image: url(../../img/equ_link_on.png);
                        
                    }

                    .offline{
                        background-image: url(../../img/equ_link_off.png);
                        
                    }
                    
                }
            }
        }
    }
    .add-button{
        position: fixed;
        right: .4rem;
        bottom: .6rem;
        height: 1rem;
        width: 1rem;
        background: #fff;
        border-radius: .5rem;
        background-image: url(../../img/equ_add.png);
        background-size:100% 100%;
    }
}


